<h2 class="md-headline"
    ng-if="mode === 'meteo'">
    Détails de la sonde Météo
</h2>

<h2 class="md-headline"
    ng-if="mode === 'watering'">
    Détails de la sonde d'arrosage
</h2>

<section ng-if="mode === 'meteo'">
    <p><strong>Température de l'air :</strong> {{ meteo.temp }} °C</p>

    <p><strong>Humidité ambiante :</strong> {{ meteo.humidity }} %</p>

    <p><strong>Pression atmosphérique :</strong> {{ meteo.pressure }} hpa</p>

    <p><strong>Luminosité :</strong> {{ meteo.lux }}</p>

    <md-divider></md-divider>

    <h4>Graphique de la température</h4>
    <sr-chart sonde="meteo.id"
              type="temp"
              parser="meteoParser"></sr-chart>

    <h4>Graphique de la pression atmosphérique</h4>
    <sr-chart sonde="meteo.id"
              type="temp"
              parser="pressureParser"></sr-chart>

    <h4>Graphique de l'humidité ambiante</h4>
    <sr-chart sonde="meteo.id"
              type="temp"
              parser="humidityParser"></sr-chart>
</section>

<section ng-if="mode === 'watering'">
    <p>
        <strong>Humidité de la terre :</strong>
        {{ humidity.humidity }} %
    </p>

    <p>
        <strong>Arrosage en cours :</strong>
        <strong ng-if="humidity.watering">Oui</strong>
        <span ng-if="!humidity.watering">Non</span>
    </p>

    <p>
        <strong>Arrosage automatique :</strong>
        {{ humidity.autoBool ? 'Oui' : 'Non' }}
        ({{ humidity.autoThreshold }}%)
    </p>

    <md-button class="md-raised md-secondary"
               ng-if="!humidity.watering"
               ng-click="setWaterSwitch(true)">
        Lancer l'arrosage manuel (15 s.)
    </md-button>

    <md-divider></md-divider>

    <md-checkbox class="auto-watering-checkbox"
                 ng-model="humidity.autoBool"
                 ng-change="setWaterAuto(humidity.autoBool)"
                 aria-label="Arrosage automatique">
        Arrosage automatique
    </md-checkbox>

    <h4>Seuil d'arrosage automatique</h4>
    <div layout class="auto-watering">
        <md-slider flex
                   min="1"
                   max="100"
                   ng-model="humidity.autoThreshold"
                   ng-change="setWaterThreshold(humidity.autoThreshold)"
                   aria-label="Seuil d'arrosage automatique">
        </md-slider>

        <div flex="25" layout layout-align="center center">
            <input flex
                   type="number"
                   ng-model="humidity.autoThreshold"
                   aria-label="Seuil d'arrosage automatique">
        </div>
    </div>

    <md-divider></md-divider>

    <h4>Historique de l'humidité</h4>
    <sr-chart sonde="humidity.id"
              type="temp"
              parser="humidityParser"></sr-chart>
</section>
