<md-toolbar class="md-warn"
            ng-if="!meteo && !humidity">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Merci d'aller renseigner l'URL du serveur dans les paramètres.</h2>
    </div>
</md-toolbar>

<h2 class="md-headline">Sonde Météo</h2>

<md-list>
    <md-list-item ng-repeat="m in meteo">
        <img src="http://lorempixel.com/150/150/"
             alt=""
             class="md-avatar"/>

        <div class="md-list-item-text">
            <p><strong>Température de l'air :</strong> {{ m.temp }} °C</p>

            <p><strong>Humidité ambiante :</strong> {{ m.humidity }} %</p>

            <p><strong>Pression atmosphérique :</strong> {{ m.pressure }} hpa</p>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>

<h2 class="md-headline">Sondes Arrosage</h2>

<md-list>
    <md-list-item ng-repeat="h in humidity">
        <img src="http://lorempixel.com/151/151/"
             alt=""
             class="md-avatar"/>

        <div class="md-list-item-text">
            <p><strong>Humidité de la terre :</strong> {{ h.humidity }} %</p>

            <p><strong>Arrosage en cours :</strong> Non</p>

            <md-button class="md-secondary md-raised">Lancer l'arrosage</md-button>
        </div>
    </md-list-item>
</md-list>
